.sd-modal-about h2 {
  text-align: center;
}

.sd-modal-about ul {
  margin-left: 30px;
}

.sd-modal-info {
  display: flex;
  justify-content: space-around;
}

.sd-modal-help ol,
ul {
  margin-left: 20px;
}

.sd-modal-file-excel {
  width: 500px;
}

.sd-modal-btn {
  margin: 10px;
}
