@font-face {
  font-family: "Pixel";
  src: url("./asset/font/Minecraft.ttf") format("truetype");
}
@font-face {
  font-family: "Play-Regular";
  src: url("./asset/font/Play-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Play-Bold";
  src: url("./asset/font/Play-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
  font-family: Play-Regular, Arial, Helvetica, sans-serif;
}

.myForm {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid saddlebrown;
}

.form-type {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.form-check {
  margin: 5px;
}

.form-type-items {
  float: left;
  margin-right: 10px;
}

.button-control {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  opacity: 0;
  animation: fadeDownUp 0.5s 1.5s;
  animation-fill-mode: forwards;
}

.sd-icon {
  margin-right: 5px;
}

.sd-btn {
  margin: 5px 20px;
  padding: 5px 10px;
  width: 100%;
  max-width: 120px;
  height: 50px;
  color: white;
  font-size: 16px;
}

.sd-nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #121212;
}

.sd-logo {
  color: #fff;
  font-size: 2rem;
  margin-left: 10rem;
}

.sd-nav ul {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 2rem;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 15px 0;
}

.sd-nav li {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 15px 0;
}

.sd-nav li:hover {
  color: #ff0f00;
}

.sd-header {
  font-family: Play-Bold, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  opacity: 0;
  animation: fadeUpDown 1s;
  animation-fill-mode: forwards;
}

.sd-file-choose {
  position: relative;
  margin-left: 0;
}

.sd-file-upload {
  /* position: absolute; */
  display: inline-block;
  /* left: 20px; */
  margin: 7px auto;
}

.sd-icon-type {
  display: flex;
}

.sd-icon-type:hover {
  cursor: pointer;
}

.sd-fade-left-right {
  opacity: 0;
  animation: fadeLeftRight 0.5s 1s;
  animation-fill-mode: forwards;
}

.sd-fade-up-down {
  opacity: 0;
  animation: fadeUpDown 0.5s 1.5s;
  animation-fill-mode: forwards;
}

.icon-trash {
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
}

.sd-container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.sd-total-row {
  font-size: 20px;
}

.sd-total-title {
  text-align: right;
}

.sd-content {
  min-height: 80vh;
}

footer {
  padding: 1rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

.sd-footer-head {
  text-align: center;
  padding: 15px;
}

.sd-footer {
  max-width: 77.5rem;
  margin: auto;
}

.sd-footer-divider {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeUpDown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDownUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeLeftRight {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRightLeft {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
